# Note Book that Discripe some of python built in function![python-built-in-functions.webp]()

# **Absolute Function**
Build in function that helps in change the negative integers ito positive values.
Does not need to import any model or library to declare or implement

In [ ]:
x = -3
y = abs(x)
y

3

# **All Function**
Build in function that return true if the all item in the iterable(list ,tuple,dictionary) are true.Does not need any import to implemnt and declared.

In [ ]:
#using list
lst = [0,1,1]
outcome_one = all(lst)    #will return false as not elemnt of list are true

#using tuple
tpl = (1,0,True)
outcome_two = all(lst)    #will return false as not elemnt of list are true

#using dictionary
dic = {0,0,0}
outcome_three = all(dic)   #will return false as not elemnt of list are true

print(outcome_one , outcome_two , outcome_three)

False False False

# **Any Function**
In opposite to all function as it return true if any item is true.Does not need any import to implemnt and declared.

In [ ]:
#using list
lst = [0,1,1]
outcome_one = any(lst)    #will return true

#using tuple
tpl = (1,0,True)
outcome_two = any(lst)    #will return true

#using dictionary
dic = {0,0,0}
outcome_three = any(dic)   #will return false

print(outcome_one , outcome_two , outcome_three)

True True False

# **Basestring function**
It is an abstruct type help in define the element if it istance, string or unicode.It can not be called but used in the check procees only.It was defined in python 2 but now in python three there was a str insted to use

In [ ]:
x = 'mariam'
print(isinstance(x,str))

True

# **Bin Function**
Build in function used to return the binary value of integer value.Does not need to import a library to declered

In [ ]:
num = 9
print(bin(num))

0b1001

# **Bool Function**
Build in function return boolean value which is True.in the other hand return false if the object was zero or empty or value wrong.

In [ ]:
print(bool(0))

False

# **Bytearray function**
Build in function that return a bytes array and convert the object in to bytes.

In [ ]:
print(bytearray(10))

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')

# **Callable**
Build in function return true if the object spacificlly called its label

In [ ]:
y = 9
print(callable(y)) #the variables are not callalabel

False

# **Char Function**
Build in function that return the character that represent the give unicode value

In [ ]:
value = 98
print(chr(value))

b

# **Classmethod Function**
Build in function used to change the normal method or function to class method or function.

In [ ]:
class Student:

    # create a variable
    name = "Geeksforgeeks"

    # create a function
    def print_name(obj):
        print("The name is : ", obj.name)

print(classmethod(Student.print_name))

<classmethod(<function Student.print_name at 0x7ba6e612a3b0>)>

# **Cmp Funtion**
Build in function in python two used to compare the value of two integers with each others.It return -1 if the firts parameter less than second, 1 if the firts more than second and 0 if they are equal

In [ ]:
#cmp(2,3) Does not work in python 3

# **Compile Function**
function that complie a text and return a spacific as a code object to executed it.

In [ ]:
x = compile('print(55)\nprint(88)', 'test', 'exec')
exec(x)    #return the numbers

55
88

# **Complex Function**
Build in function take real and imaginary numbers as a paramter and convert them in to a real number.

In [ ]:
real = 9
imagin = 5
print(complex(real,imagin))

(9+5j)

# **Delatter Function**
function that delet the needed attribute from a spacified object as it take them as a pramters.

In [ ]:
class Student:
  name = "mariam"
  id = 222
  subject = "math"
delattr(Student,'id')
print(Student)

<class '__main__.Student'>

# **Dict Function**
Build in function helps in take the argumant and collect them in a dictionary.

In [ ]:
#take keys and values
x = dict(sudent = "mariam" ,id = "234" , subject = "math")
x

{'sudent': 'mariam', 'id': '234', 'subject': 'math'}

# **Dir function**
Build in function that returns all the methods of an spacific instance even the build in methods

In [ ]:
class Student:
  name = "mariam"
  id = 222
  subject = "math"

print(dir(Student))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'id', 'name', 'subject']

# **Divmod function**
Build in function that take the dividend and divisor numbers then return a tuple that contaion the qutiont and the reminder

In [4]:
print(divmod(16,5))

(3, 1)

# **Enumerate function**
Build in function that takes iterable and convert it in to an enumerate object

In [5]:
x = ('orange' , 'apple', 'banana')
print(enumerate(x))

<enumerate object at 0x79c88bab5a00>

# **Eval function**
Build in function that take the statment and evaluate it and rturn it it legal in python

In [10]:
x = 'print(55)'
eval(x)

55

# **Execfile function**
Build in function in python that it read the code and run it.It removed from python three.

In [ ]:
#read file
#execfile('file.py')

# **File function**
Build in function in python two used to read the file for its usage.It removed from python three and can replace by open function

In [ ]:
#file(open the file)

# **Filter function**
return the iterator after filtration its item according to operations applied on it

In [12]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return True
  else:
    return False

adults = filter(myFunc, ages)

for x in adults:
  print(x)

5
12
17

# **Float function**
Build in function convert the given integer in to float number

In [13]:
print(float(5))

5.0

# **Format function**
Build in function that formulate a given value and insert it in string placeholder that can be in curls shap

In [14]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

# **Frozenset function**
Build in function returns an unchangeable frozenset object.

In [16]:
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)
x

frozenset({'apple', 'banana', 'cherry'})

# **Getattr function**
Build in function used to return the private attributes for an object

In [17]:
class Age:
    def __init__(self, age = 0):
         self._age = age

    # getter method
    def get_age(self):
        return self._age
    def set_age(self, x):
        self._age = x
a = Age()
a.set_age(21)

# retrieving age using getter
print(a.get_age())

21

# **Globals function**
Build in function that retrun all the global variables and functions that are in current model in dictionary form

In [18]:
x = 10

def test():
    y = 20
    print(globals())

test()

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', '#take keys and values\nx = dict(sudent = "mariam" ,id = "234" , subject = "math")\nx', 'class Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n\nprint(dir(Student))', 'divided =(16,5)\nprint(divmod(divided))', 'print(divmod(16,5))', "x = ('orange' , 'apple','banana')\nprint(enumerate(x))", "print(eval('s'))", 'print(eval(34))', 'x = 34\nprint(eval(x))', "x = 'print(55)'\nprint(eval(x))", "x = 'print(55)'\neval(x)", 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return True\n  else:\n    return False\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', 'print(float(5))', 'txt = "For only {price:.2f} dollars!"\nprint(txt.format(price = 49))', "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)", "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nx", 'class Age: \n    def __init__(self, age = 0): \n         self._age = age \n      \n    # getter method \n    def get_age(self): \n        return self._age \n    def set_age(self, x): \n        self._age = x \na = Age()\na.set_age(21) \n  \n# retrieving age using getter \nprint(a.get_age())  ', "x = 10\n\ndef test():\n    y = 20\n    print(globals())  # Shows 'x' and other global items\n\ntest()"], '_oh': {1: {'sudent': 'mariam', 'id': '234', 'subject': 'math'}, 16: frozenset({'apple', 'banana', 'cherry'})}, '_dh': ['/content'], 'In': ['', '#take keys and values\nx = dict(sudent = "mariam" ,id = "234" , subject = "math")\nx', 'class Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n\nprint(dir(Student))', 'divided =(16,5)\nprint(divmod(divided))', 'print(divmod(16,5))', "x = ('orange' , 'apple','banana')\nprint(enumerate(x))", "print(eval('s'))", 'print(eval(34))', 'x = 34\nprint(eval(x))', "x = 'print(55)'\nprint(eval(x))", "x = 'print(55)'\neval(x)", 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return True\n  else:\n    return False\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', 'print(float(5))', 'txt = "For only {price:.2f} dollars!"\nprint(txt.format(price = 49))', "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)", "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nx", 'class Age: \n    def __init__(self, age = 0): \n         self._age = age \n      \n    # getter method \n    def get_age(self): \n        return self._age \n    def set_age(self, x): \n        self._age = x \na = Age()\na.set_age(21) \n  \n# retrieving age using getter \nprint(a.get_age())  ', "x = 10\n\ndef test():\n    y = 20\n    print(globals())  # Shows 'x' and other global items\n\ntest()"], 'Out': {1: {'sudent': 'mariam', 'id': '234', 'subject': 'math'}, 16: frozenset({'apple', 'banana', 'cherry'})}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x79c89c01a1a0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x79c89c01ab90>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x79c89c01ab90>, '_': frozenset({'apple', 'banana', 'cherry'}), '__': {'sudent': 'mariam', 'id': '234', 'subject': 'math'}, '___': '', '_i': 'class Age: \n    def __init__(self, age = 0): \n         self._age = age \n      \n    # getter method \n    def get_age(self): \n        return self._age \n    def set_age(self, x): \n        self._age = x \na = Age()\na.set_age(21) \n  \n# retrieving age using getter \nprint(a.get_age())  ', '_ii': "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nx", '_iii': "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)", '_i1': '#take keys and values\nx = dict(sudent = "mariam" ,id = "234" , subject = "math")\nx', 'x': 10, '_1': {'sudent': 'mariam', 'id': '234', 'subject': 'math'}, '_i2': 'class Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n\nprint(dir(Student))', 'Student': <class '__main__.Student'>, '_i3': 'divided =(16,5)\nprint(divmod(divided))', 'divided': (16, 5), '_i4': '\nprint(divmod(16,5))', '_i5': "x = ('orange' , 'apple','banana')\nprint(enumerate(x))", '_i6': "print(eval('s'))", '_i7': 'print(eval(34))', '_i8': 'x = 34\nprint(eval(x))', '_i9': "x = 'print(55)'\nprint(eval(x))", '_i10': "x = 'print(55)'\neval(x)", '_i11': 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return False\n  else:\n    return True\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', 'ages': [5, 12, 17, 18, 24, 32], 'myFunc': <function myFunc at 0x79c8881a2b90>, 'adults': <filter object at 0x79c88b14e530>, '_i12': 'ages = [5, 12, 17, 18, 24, 32]\n\ndef myFunc(x):\n  if x < 18:\n    return True\n  else:\n    return False\n\nadults = filter(myFunc, ages)\n\nfor x in adults:\n  print(x)', '_i13': 'print(float(5))', '_i14': 'txt = "For only {price:.2f} dollars!"\nprint(txt.format(price = 49))', 'txt': 'For only {price:.2f} dollars!', '_i15': "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)", 'mylist': ['apple', 'banana', 'cherry'], '_i16': "mylist = ['apple', 'banana', 'cherry']\nx = frozenset(mylist)\nx", '_16': frozenset({'apple', 'banana', 'cherry'}), '_i17': 'class Age: \n    def __init__(self, age = 0): \n         self._age = age \n      \n    # getter method \n    def get_age(self): \n        return self._age \n    def set_age(self, x): \n        self._age = x \na = Age()\na.set_age(21) \n  \n# retrieving age using getter \nprint(a.get_age())  ', 'Age': <class '__main__.Age'>, 'a': <__main__.Age object at 0x79c88b0e2920>, '_i18': "x = 10\n\ndef test():\n    y = 20\n    print(globals())  # Shows 'x' and other global items\n\ntest()", 'test': <function test at 0x79c86e757130>}

# **Hasattr function**
Build in function return true if the called object has the given attrbuit and return flase if not

In [2]:
class Student:
  name = "mariam"
  id = 222
  subject = "math"

print(hasattr(Student,'id'))

True

# **Hash function**
Build in functions used in data structers code that return a hach integer if the oject has one

In [4]:
# initializing objects
int_val = 4
str_val = 'student is class'
flt_val = 24.56

print("The integer hash value is : " + str(hash(int_val)))
print("The string hash value is : " + str(hash(str_val)))
print("The float hash value is : " + str(hash(flt_val)))

The integer hash value is : 4
The string hash value is : 6223401286647727351
The float hash value is : 1291272085159665688

# **Help function**
Build in function that provide information about the syntex,models.libraries and so on.

# **Hex function**
Build in function that convert the number in to hexadecimal number

In [5]:
print(hex(23345))

0x5b31

# **Id function**
Build in function that return the memory adders of an object

In [6]:
x = 90
print(id(x))

133678663191568

# **Input function**
Build in function allows the user to enter the input

In [8]:
x = input("Enter the name \n")
x

Enter the name
mariam

'mariam'

# **Int function**
Build in function that convert the value in to integer

In [9]:
x = int(input("Enter your age \n"))
x

Enter your age
19

19

# **Isinstance function**
Build in function that take the object and type then return true if they are related to each others ,other wise return false

In [10]:
isinstance('m',int)  #return false

False

# **Issubclass function**
Build in function returns True if the specified object is a subclass of the specified object, otherwise False

In [13]:
class Age:
  age = 19
class Student:
  name = "mariam"
  id = 222
  subject = "math"
  age = Age
x = issubclass(Student,Age)
x

False

# **Iter function**
Build in function that return an iterator object

In [14]:
my_list = [1, 2, 3]
it = iter(my_list)

# **Len function**
Build in function that return the number of items in an iterable

In [15]:
lst = ['mariam','apple','zewail']
print(len(lst))

3

# **List function**
Build in funcion that create a list for objects

In [16]:
lst = list(('mariam','apple','zewail'))
lst

['mariam', 'apple', 'zewail']

# **Locals function**
Build in funxtion that return the local symbol in dictionary table form

In [17]:
l = locals()
l

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'class Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n\nprint(hasattr(Student,id))',
  'class Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n\nprint(hasattr(Student,\'id\'))',
  '# initializing objects\nint_val = 4\nstr_val = \'GeeksforGeeks\'\nflt_val = 24.56\n\n# Printing the hash values.\n# Notice Integer value doesn\'t change\n# You\'ll have answer later in article.\nprint("The integer hash value is : " + str(hash(int_val)))\nprint("The string hash value is : " + str(hash(str_val)))\nprint("The float hash value is : " + str(hash(flt_val)))',
  '# initializing objects\nint_val = 4\nstr_val = \'student is class\'\nflt_val = 24.56\n\nprint("The integer hash value is : " + str(hash(int_val)))\nprint("The string hash value is : " + str(hash(str_val)))\nprint("The float hash value is : " + str(hash(flt_val)))',
  'print(hex(23345))',
  'x = 90\nprint(id(x))',
  'x = input("Enter the name")\nx',
  'x = input("Enter the name \\n")\nx',
  'x = int(input("Enter your age \\n"))\nx',
  "isinstance('m',int)",
  'class Age:\n  ag = 19\nclass Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n  age = Age\nprint(issubclass(Student,Age))',
  'class Age:\n  age = 19\nclass Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n  age = Age\nprint(issubclass(Student,Age))',
  'class Age:\n  age = 19\nclass Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n  age = Age\nx = issubclass(Student,Age)\nx',
  'my_list = [1, 2, 3]\nit = iter(my_list)',
  "lst = ['mariam','apple','zewail']\nprint(len(lst))",
  "lst = list(('mariam','apple','zewail'))\nlst",
  'l = locals()\nl'],
 '_oh': {7: 'mariam',
  8: 'mariam',
  9: 19,
  10: False,
  13: False,
  16: ['mariam', 'apple', 'zewail']},
 '_dh': ['/content'],
 'In': ['',
  'class Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n\nprint(hasattr(Student,id))',
  'class Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n\nprint(hasattr(Student,\'id\'))',
  '# initializing objects\nint_val = 4\nstr_val = \'GeeksforGeeks\'\nflt_val = 24.56\n\n# Printing the hash values.\n# Notice Integer value doesn\'t change\n# You\'ll have answer later in article.\nprint("The integer hash value is : " + str(hash(int_val)))\nprint("The string hash value is : " + str(hash(str_val)))\nprint("The float hash value is : " + str(hash(flt_val)))',
  '# initializing objects\nint_val = 4\nstr_val = \'student is class\'\nflt_val = 24.56\n\nprint("The integer hash value is : " + str(hash(int_val)))\nprint("The string hash value is : " + str(hash(str_val)))\nprint("The float hash value is : " + str(hash(flt_val)))',
  'print(hex(23345))',
  'x = 90\nprint(id(x))',
  'x = input("Enter the name")\nx',
  'x = input("Enter the name \\n")\nx',
  'x = int(input("Enter your age \\n"))\nx',
  "isinstance('m',int)",
  'class Age:\n  ag = 19\nclass Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n  age = Age\nprint(issubclass(Student,Age))',
  'class Age:\n  age = 19\nclass Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n  age = Age\nprint(issubclass(Student,Age))',
  'class Age:\n  age = 19\nclass Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n  age = Age\nx = issubclass(Student,Age)\nx',
  'my_list = [1, 2, 3]\nit = iter(my_list)',
  "lst = ['mariam','apple','zewail']\nprint(len(lst))",
  "lst = list(('mariam','apple','zewail'))\nlst",
  'l = locals()\nl'],
 'Out': {7: 'mariam',
  8: 'mariam',
  9: 19,
  10: False,
  13: False,
  16: ['mariam', 'apple', 'zewail']},
 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x799474b421d0>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x799474b42bc0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x799474b42bc0>,
 '_': ['mariam', 'apple', 'zewail'],
 '__': False,
 '___': False,
 '_i': "lst = list(('mariam','apple','zewail'))\nlst",
 '_ii': "lst = ['mariam','apple','zewail']\nprint(len(lst))",
 '_iii': 'my_list = [1, 2, 3]\nit = iter(my_list)',
 '_i1': 'class Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n\nprint(hasattr(Student,id))',
 'Student': __main__.Student,
 '_i2': 'class Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n\nprint(hasattr(Student,\'id\'))',
 '_i3': '# initializing objects\nint_val = 4\nstr_val = \'GeeksforGeeks\'\nflt_val = 24.56\n\n# Printing the hash values.\n# Notice Integer value doesn\'t change\n# You\'ll have answer later in article.\nprint("The integer hash value is : " + str(hash(int_val)))\nprint("The string hash value is : " + str(hash(str_val)))\nprint("The float hash value is : " + str(hash(flt_val)))',
 'int_val': 4,
 'str_val': 'student is class',
 'flt_val': 24.56,
 '_i4': '# initializing objects\nint_val = 4\nstr_val = \'student is class\'\nflt_val = 24.56\n\nprint("The integer hash value is : " + str(hash(int_val)))\nprint("The string hash value is : " + str(hash(str_val)))\nprint("The float hash value is : " + str(hash(flt_val)))',
 '_i5': 'print(hex(23345))',
 '_i6': 'x = 90\nprint(id(x))',
 'x': False,
 '_i7': 'x = input("Enter the name")\nx',
 '_7': 'mariam',
 '_i8': 'x = input("Enter the name \\n")\nx',
 '_8': 'mariam',
 '_i9': 'x = int(input("Enter your age \\n"))\nx',
 '_9': 19,
 '_i10': "isinstance('m',int)",
 '_10': False,
 '_i11': 'class Age:\n  ag = 19\nclass Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n  age = Age\nprint(issubclass(Student,Age))',
 'Age': __main__.Age,
 '_i12': 'class Age:\n  age = 19\nclass Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n  age = Age\nprint(issubclass(Student,Age))',
 '_i13': 'class Age:\n  age = 19\nclass Student:\n  name = "mariam"\n  id = 222\n  subject = "math"\n  age = Age\nx = issubclass(Student,Age)\nx',
 '_13': False,
 '_i14': 'my_list = [1, 2, 3]\nit = iter(my_list)',
 'my_list': [1, 2, 3],
 'it': <list_iterator at 0x79947032f1c0>,
 '_i15': "lst = ['mariam','apple','zewail']\nprint(len(lst))",
 'lst': ['mariam', 'apple', 'zewail'],
 '_i16': "lst = list(('mariam','apple','zewail'))\nlst",
 '_16': ['mariam', 'apple', 'zewail'],
 '_i17': 'l = locals()\nl',
 'l': {...}}

# **Long function**
Build in function in python two help in working with large integers that exceeded the limits of regular integers.

In [ ]:
number = 123456789012345678901234567890
# long_number = long(number)

# **Map function**
Build in function that take the method and an iterable of items as an argumant for the method

In [20]:
def myfunc(n):
  return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))
x

# **Max function**
Build in function that return the largest number from the given

In [21]:
print(max(10,90))

90

# **Memoryview function**
Build in function returns a memory view object from a specified object.

In [24]:
x = memoryview(b"Hello")

print(x)

print(x[0])

<memory at 0x7994636c6140>
72

# **Min function**
Build in function that return smallest number from the given

In [22]:
print(min(90,10))

10

# **Next function**
Build in function that return the next item in an iteration.Work with iter function that iterat on the object

In [27]:
lst = iter(['mariam','apple','zewail'])
nxt = next(lst)
nxt

'mariam'

# **Object function**
Build in functio return empty object and you can not add a new one

In [28]:
x = object()
x

# **Oct function**
Build in function that convert integer in to an octal

In [29]:
print(oct(45))

0o55

# **Open function**
Build in function that open a file and print content. Take the file path and the method that nned to apply on it as read,write,append,creat

In [ ]:
f = open('file path','applied method')

# **Ord function**
Build in function that return a unicode code number for a character

In [30]:
print(ord('k'))

107

# **Pow function**
build in function that compue power operation for firts paramter by the second one

In [31]:
print(pow(9,2))

81

# **Print function**
Build in function that appers a message on the screeb

In [32]:
print("message on screen")

message on screen

# **Property function**
Build in function give the acceptance to create a spacific property for a class

# **Range function**
Build in function that take the start step and increment on the strat tell the stop value minus one .increment number by defult is one

In [35]:
x = range(6,10,1)
for n in x:
  print(n)

6
7
8
9

# **Raw_input function**
Build in function in python two that are apply the same functionality of input function in python three as it takes the input from the user

In [ ]:
# input = raw_input("Enter the name: ")
# print(input)

# **Reduce function**
Build in function need to import functools model to work with it.apply a particular function passed in its argument to all of the list elements

In [36]:
import functools
lis = [1, 3, 5, 6, 2]
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))

The sum of the list elements is : 17

# **Reload function**
Build in function that need to import importlib to with it.allows to make a changes in the model without restart the programe

In [ ]:
import importlib
# importlib.reload(module)

# **Repr function**
Build in function return printable representation of the object by converting that object to a string.

In [38]:
x = 'Hello world.'
print (repr(x))

'Hello world.'

# **Reversed function**
Build in function helps in return the items in iterator object in inverse way

In [40]:
lst = ["mariam","apple","zewail"]
x =reversed(lst)
for i in x:
  print(i)

zewail
apple
mariam

# **Round function**
Build in function that return a rounded value of the number with a spacific decimal value

In [41]:
x = round(5.76543, 2)
print(x)

5.77

# **Set function**
Build in function help in create a set of given items

In [1]:
x = set(('apple', 'banana', 'cherry'))
x

{'apple', 'banana', 'cherry'}

# **Setattr function**
Build in function used in setting a vaule of atriubute for a spacific object

In [3]:
class Student:
  name = "mariam"
  id = 222
  subject = "math"
setattr(Student,'id',234)

None

# **Slice function**

Build in function help in sclicing the items of iterator object  and return it

In [6]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(2)
print(a[x])

('a', 'b')

# **Sorted function**
This function refers to the using of def keyword in making a function and store it in python model that represent the .py file that contain the code.

# **Staticmethod function**
This function is related to a class function as it help in  makes sense for the method to be present in class but not have the access to modify any atrbiute on the class

In [7]:
class Maths():

    @staticmethod
    def addNum(num1, num2):
        return num1 + num2
res = Maths.addNum(1, 2)
print("The result is", res)

The result is 3

# **Str function**
Build in function help in convert the taken argument in to string

In [9]:
enter = str(8)
enter

'8'

# **Sum function**
Build in function that apply adding operation on the given arguments and return it

In [11]:
x = (2,3)
print(sum(x))

5

# **Super function**
Build in function that give the access on the method of perant class

In [15]:
class Parent:
  def __init__(self, txt):
    self.message = txt

  def printmessage(self):
    print(self.message)

class Child(Parent):
  def __init__(self, txt):
    super().__init__(txt)

x = Child("Hello, and welcome!")
x.printmessage()

Hello, and welcome!

# **Tuple function**
Build in function that help in create a tuple

In [16]:
x = [1,2,3,4]
print(tuple(x))

(1, 2, 3, 4)

# **Type function**
Build in function help in knowing the type of object

In [17]:
x = "mariam"
print(type(x))

<class 'str'>

# **Unichr function**
Build in function in python that help in return the char of the given number used in python 2 .char function used insted in python 3

In [20]:
print(chr(78))

N

# **Unicode function**
function that aim in giveing each character its unique code

# **Vars function**
Build in function returns the dict attribute of an object.

In [22]:
class Person:
  name = "John"
  age = 36
  country = "norway"

x = vars(Person)
x

mappingproxy({'__module__': '__main__',
              'name': 'John',
              'age': 36,
              'country': 'norway',
              '__dict__': <attribute '__dict__' of 'Person' objects>,
              '__weakref__': <attribute '__weakref__' of 'Person' objects>,
              '__doc__': None})

# **Xrange function**
Build in function in python 2 as range function in python 3 used to return a sequance of numbers

# **Zip function**
Build in function that return a zip object from tuple iterator object as it combine its element together and return it.

In [25]:
a = ("John", "Charles", "Mike")
x = zip(a)
x

# **import function**
Build in function help in loading the models in python to take there function and apply them in code